<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agregar - Estacionamiento Inteligente</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-fluid px-4"></div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Tabla de Sensor de Estacionamientos
                        </div>
                        <div class="card-body">
                            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                                <div class="datatable-container">
                                    <table id="datatablesSimple" class="datatable-table">
                                        <thead>
                                            <tr>
                                                <th class="form-floating mb-3 mb-md-0">ID</th>
                                                <th class="form-floating mb-3 mb-md-0">Nombre</th>
                                                <th class="form-floating mb-3 mb-md-0">Activo</th>
                                                <th class="form-floating mb-3 mb-md-0">Ocupado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="estacionamiento : ${estacionamientos}">
                                                <td><span th:text="${estacionamiento.id}" /></td>
                                                <td><span th:text="${estacionamiento.nombre}" /></td>
                                                <td><span th:text="${estacionamiento.activo}" /></td>
                                                <td><span th:text="${estacionamiento.ocupado}" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mt-auto d-md-inline-block">
                                        <div class="d-grid">
                                            <a class="btn btn-primary btn-block" href="EstacionamientoInteligente">Home Estacionamiento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Registrar Evento</h3>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/agregarEvento}" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-5">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" type="number" id="dispositivoId"
                                                    name="dispositivoId" required>
                                                    <label for="dispositivoId">ID:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-5">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" type="date" id="fecha"
                                                        name="fecha" required>
                                                    <label for="fecha">Fecha:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-5">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" type="time" id="horaDesde"
                                                        name="horaDesde" required>
                                                    <label for="horaDesde">Hora Inicio:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-5">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" type="text" id="descripcion"
                                                        name="descripcion" required>
                                                    <label for="descripcion">Descripcion:</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-auto d-md-inline-block">
                                            <div class="d-grid">
                                                <input type="submit"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="EstacionamientoInteligente">mostrar estacionamientos</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>